{% extends "layout.html" %}

{% block pageTitle %}
  Applicant details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/licence/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Personal details</h1>

      <p class="govuk-body">This form is pre-filled with public information from Companies House. Please update as needed.</p>

      <form class="form" action="/licence/company" method="post">

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s"
          },
          id: "full-name",
          name: "officer-name",
          value: data['officer-name'],
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukDateInput({
          id: "dob",
          namePrefix: "officer-dob",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-label--s"
            }
          },
          "items": [
            {
              "name": "day",
              "classes": "govuk-input--width-2",
              "value": data['officer-dob-day']
            },
            {
              "name": "month",
              "classes": "govuk-input--width-2",
              "value": data['officer-dob-month']
            },
            {
              "name": "year",
              "classes": "govuk-input--width-4",
              "value": data['officer-dob-year']
            }
          ]
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "Correspondence address",
            classes: "govuk-fieldset__legend--s"
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street'
            },
            id: "address-line-1",
            name: "officer-address-street",
            value: data['officer-address-street'],
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "officer-address-city",
            value: data['officer-address-city'],
            autocomplete: "address-level2"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "officer-address-postcode",
            value: data['officer-address-postcode'],
            autocomplete: "postal-code"
          }) }}

        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "Contact details",
            classes: "govuk-fieldset__legend--s"
          }
        }) %}

          {{ govukInput({
            label: {
              text: "UK telephone number"
            },
            id: "telephone-number",
            name: "officer-phone",
            value: data['officer-phone'],
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "We’ll only use this to send you a confirmation email"
            },
            id: "email",
            name: "officer-email",
            value: data['officer-email'],
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}

        {% endcall %}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
