{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/licence/treatment">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['officer-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/applicant">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['officer-dob-day'] }} {{ data['officer-dob-month'] }} {{ data['officer-dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/applicant">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['officer-address-street'] }}
            <br>{{ data['officer-address-city'] }}
            <br>{{ data['officer-address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/applicant">
              Change
              <span class="govuk-visually-hidden"> correspondence information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['officer-phone'] }}</p>
            <p>{{ data['officer-email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/applicant">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/company">
              Change
              <span class="govuk-visually-hidden"> company name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/company">
              Change
              <span class="govuk-visually-hidden"> company number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered office address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-address-street'] }}
            <br>{{ data['company-address-city'] }}
            <br>{{ data['company-address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/company">
              Change
              <span class="govuk-visually-hidden"> registered office address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Application details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are premises under construction?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['premises-under-construction'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/premises">
              Change
              <span class="govuk-visually-hidden"> answer</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are premises commercial?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['premises-commercial'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/premises">
              Change
              <span class="govuk-visually-hidden"> answer</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are premises shared?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['premises-shared'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/premises">
              Change
              <span class="govuk-visually-hidden"> answer</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Opening hours
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['opening-hours'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/premises">
              Change
              <span class="govuk-visually-hidden"> opening hours</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Treatments
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['treatment'] | join("<br>") | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/licence/treatment">
              Change
              <span class="govuk-visually-hidden"> treatments</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/licence/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
