{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to {{ data['company-borough'] }}.</p>
      <p>They will contact you to confirm your registration or to ask for more information.</p>

      <h2 class="govuk-heading-m">Return to your personalised actions</h2>
      <p>Return to <a class="govuk-link" href="/next-steps">Next steps for {{ data['company-name'] }}</a> on GOV.UK</p>

    </div>
  </div>

{% endblock %}
