{% extends "layout.html" %}

{% block pageTitle %}
  Application to licence premises for massage or other special types
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Licences and licence applications</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence</span>
      <h1 class="govuk-heading-l">
        Register a food business
      </h1>

      <p>When you start a new food business or take over an existing business, you must register with your local authority. You should do this at least 28 days before trading or before food operations start.</p>

      <a href="/licence/applicant" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>During this registration, you may come across a few specialist terms, which we have described below:</p>

      <h3 class="govuk-heading-s">Food business operator</h3>
      <p>The operator is the person, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.</p>

      <h3 class="govuk-heading-s">Establishment</h3>
      <p>The establishment is the location or site of your food business. If it is a mobile food business, please use the location where it is normally stored overnight.</p>

      <h3 class="govuk-heading-s">Registering Local Authority</h3>
      <p>{{ data['company-borough'] }} is the local authority your registration will be sent to. Is this the correct local authority for your business? If unsure, please use this Food Business Registration link to check using the location or site of your food business.</p>

    </div>

    <div class="govuk-grid-column-one-third"></div>
  </div>
{% endblock %}
