{% extends "layout.html" %}

{% block pageTitle %}
  Application to licence premises for massage or other special types
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Licences and licence applications</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence</span>
      <h1 class="govuk-heading-l">
        Register a food business
      </h1>

      <h2 class="govuk-heading-m">Overview</h2>

      <p>When you start a new food business or take over an existing business, you must register with your local authority.</p>
      <p>It’s free to register, and your registration cannot be refused.</p>
      <p>You should register at least 28 days before opening. If you’re already trading and have not registered, you need to do this as soon as possible.</p>

      <a href="/licence/applicant" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <h3 class="govuk-heading-s">Who needs to register</h3>

      <p>A food business is anyone preparing, cooking, storing, handling, distributing, supplying or selling food.</p>

      <p>Registration applies to food business like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>restaurants, cafes and take-aways</li>
        <li>catering businesses run from home, mobile catering and temporary businesses</li>
        <li>food stalls, food pop ups and food vans</li>
        <li>distance selling, mail order and food delivery</li>
        <li>companies involved with food distribution or supply that operate from an office should register - even if no food is kept at the premises</li>
      </ul>

      <p>If you operate more than one premises, you need to register each premises with the local authority where it’s located.</p>

      {{ govukWarningText({
        text: "You may be fined, imprisoned for up to 2 years or both if you run a food business without registering.",
        iconFallbackText: "Warning"
      }) }}

      <h3 class="govuk-heading-s">Food hygiene rating scheme</h3>

      <p>Once registered, you may be inspected by your local authority.</p>
      <p>Preparing thoroughly for inspection means your business has the best chance of getting a top rating (5) in the Food Hygiene Rating Scheme.</p>

    </div>

    <div class="govuk-grid-column-one-third"></div>
  </div>
{% endblock %}
