{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/licence/premises">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/licence/check-your-answers" method="post">

        {{ govukCheckboxes({
          idPrefix: "treatment",
          name: "treatment",
          fieldset: {
            legend: {
              text: "What treatments are offered on the premises?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              text: "Massage treatments",
              value: "Massage treatments",
              checked: checked("treatment", "Massage treatments")
            },
            {
              text: "Electrical treatments",
              value: "Electrical treatments",
              checked: checked("treatment", "Electrical treatments")
            },
            {
              text: "Laser or light treatments",
              value: "Laser or light treatments",
              checked: checked("treatment", "Laser or light treatments")
            },
            {
              text: "Acupuncture treatments",
              value: "Acupuncture treatments",
              checked: checked("treatment", "Acupuncture treatments")
            },
            {
              text: "Nail treatments",
              value: "Nail treatments",
              checked: checked("treatment", "Nail treatments")
            },
            {
              text: "Foot treatments",
              value: "Foot treatments",
              checked: checked("treatment", "Foot treatments")
            },
            {
              text: "Cosmetic or skin treatments",
              value: "Cosmetic or skin treatments",
              checked: checked("treatment", "Cosmetic or skin treatments")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
