{% from "components/reason.html" import appReason %}
{% from "components/result.html" import appResult %}

{% macro appSections(data, dataset, important=false) %}
  {% for section in dataset %}
    {% set results = section.results | visible(data) %}

    {% if results | length %}
    <section class="app-section">
      {% for result in results %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% if loop.index === 1 %}
              <h3 class="govuk-heading-m">{{ section.title }}</h3>
            {% endif %}
            {{ appReason(result) }}
          </div>
          <div class="govuk-grid-column-two-thirds {% if result.reason | length == 0 and loop.index > 1 %}app-indent-one-third{% endif %}">
            {{ appResult(result, important) }}
          </div>
        </div>
      {% endfor %}
    </section>
    {% endif %}
  {% endfor %}
{% endmacro %}
