{% extends "layout.html" %}

{% block pageTitle %}
  Next steps for {{ data.company['company-name'] }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/question/intent">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/next-steps" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <span class="govuk-caption-l">Next steps for {{ data.company['company-name'] }}</span>
        {{ govukCheckboxes({
          idPrefix: "support",
          name: "support",
          fieldset: {
            legend: {
              text: "Are you looking for financial support for:",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "getting-started",
              text: "Getting started",
              checked: checked("support", "getting-started")
            },
            {
              value: "growing",
              text: "Growing your business",
              checked: checked("support", "growing")
            },
            {
              value: "covid-19",
              text: "COVID-19",
              checked: checked("support", "covid-19")
            },
            {
              value: "none",
              text: "None of the above",
              checked: checked("support", "none")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
