
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Companies House email confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
      <p><b>from: webfiling@companieshouse.gov.uk</b></p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break govuk-section-break--l">

      <h1 class="govuk-heading-s">
        Congratulations, your company {{ data.company['company-name']|default('ACME LIMITED') }} is now registered.
      </h1>

      <p>
        HMRC will contact you separately about your Corporation Tax application.
      </p>

      <p>
        Company name: <br>
        <b>{{ data.company['company-name']|default('ACME LIMITED') }}</b>
      </p>

      <p>
        Company number: <br>
        <b>{{ data.company['company-number']|default('12345678') }}</b>
      </p>

      <p>
        Company type: <br>
        <b>{{ data.company['company-type']|default('Private Limited by Shares') }}</b>
      </p>

      <p>
        Companies House submission number: <br>
        <b>099-999123</b>
      </p>

      <p>
        Attached to this email is the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>certificate of incorporation</li>
        <li>memorandum of association</li>
      </ul>

      <p>
        Alternatively, you can retrieve these documents by signing into the WebFiling service and selecting 'My Recent Filings'.
      </p>

      <h2 class="govuk-heading-s">Check what you need to do next</h2>

      <p>
        There are other things you may need to do to set up your business.<br>
        <a class="govuk-link" href="https://www.gov.uk/next-steps-for-your-business">Find out what the next steps are for {{ data.company['company-name']|default('ACME LIMITED') }}</a>
      </p>

      <h2 class="govuk-heading-s">Filing online with Companies House</h2>
      <p>
        You can use Companies House's WebFiling service to file many documents online. You'll need the company's authentication code to use this service, which we've sent to the company's registered office.<br>
        You can sign in to WebFiling using this email address, and you'll need to set a new password by using the 'Forgot password' link at:
      </p>

      <p>
        <a href="#">http://ewf.companieshouse.gov.uk/seclogin</a>
      </p>

      <p>
        <a href="#">Sign up for email reminders</a> and Companies House will remind you when your accounts and confirmation statement are due to be submitted.
      </p>

      <p>
        Thank you for using the 'Set up a limited company and register for Corporation Tax' service.
      </p>

      <p>
        Please do not respond to this email.
      </p>
      <p>
        Find out more about Companies House services at <a href="http://www.companieshouse.gov.uk">http://www.companieshouse.gov.uk</a>
      </p>
      <p>
        You can contact Companies House on +44 (0)303 1234 500 or email <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>.
      </p>
      <p>
        You can get help and guidance for your business at <a href="https://www.gov.uk/business-support-helpline">https://www.gov.uk/business-support-helpline</a> where you can also find your local growth hub, the Business Support Helpline details and a business finance guide.
      </p>
    </div>
  </div>

{% endblock %}
