
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Companies House email confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
      <p><b>from: webfiling@companieshouse.gov.uk</b></p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break govuk-section-break--l">

      <h1 class="govuk-heading-s">
        Congratulations, {{ data['company-name'] }} is now registered as a company.
      </h1>

      <p>
        HMRC will contact you separately about your Corporation Tax application.
      </p>

      <p>
        Company name: <br>
        <b>{{ data['company-name'] }}</b>
      </p>

      <p>
        Company number: <br>
        <b>{{ data['company-number'] }}</b>
      </p>

      <p>
        Company type: <br>
        <b>{{ data['company-type'] }}</b>
      </p>

      <p>
        Companies House submission number: <br>
        <b>000 - 032597</b>
      </p>

      <p>
        Attached to this email is the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>certificate of incorporation</li>
        <li>memorandum of association</li>
      </ul>

      <h2 class="govuk-heading-s">What happens next?</h2>

      <p>Check out <a class="govuk-link" href="/next-steps">Next steps for {{ data['company-name'] }}</a>, which has tailored business information from GOV.UK.</p>

      <p>
        The company’s authentication code has been sent to the company’s registered office. You’ll need this to use Companies House’s WebFiling service.
        When you file for this company in future, you can sign into WebFiling using this email address. You’ll need to set a new password by using the <a href="#">forgot password link</a>.<br>
      </p>

      <p>
        <a href="#">Sign up for email reminders</a> and Companies House will remind you when your accounts and confirmation statement are due to be submitted.
      </p>

    </div>
  </div>

{% endblock %}
