
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Start a business</h2>

      <h3 class="govuk-heading-s">
        Discovery: first round of user research
      </h3>

      <p>
        Company name: {{ data['company-name'] }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email-confirmation">Company registration confirmation email</a>
        </li>
        <li>
          <a href="/next-steps">Next steps on running your business page</a>
        </li>
        <li>
          <a href="/tell-us-more-about-your-business">Tell us more about your business questions</a>
        </li>
        <li>
          <a href="/apply-for-licence">Apply for a licence service</a>
        </li>
        <li>
          <a href="/thank-you">Thank you page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
