
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Start a business</h2>

      <h3 class="govuk-heading-s">
        Discovery: second round of user research
      </h3>

      <ul class="govuk-list app-list-participants">
        {% for company in data.companies %}
          <li>
            <a href="/email-confirmation/{{ company['company-number'] }}">Participant {{ loop.index }}</a>
            <br>https://govuk-start-a-business-proto.herokuapp.com/email-confirmation/{{ company['company-number'] }}
          </li>
        {% else %}
          <li>No participants added</li>
        {% endfor %}
      </ul>

      <h3 class="govuk-heading-s">
        Prototype structure
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email-confirmation">Company registration confirmation email</a>
        </li>
        <li>
          <a href="/next-steps">Next steps</a>
        </li>
        <li>
          Tell us more about your business
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/question/vat">Will your business make more than £85,000 in a 12 month period?</a></li>
            <li><a href="/question/employ">Do you want to employ someone?</a></li>
            <li><a href="/question/intent">Does your business do any of the following?</a></li>
            <li><a href="/question/support">Are you looking for financial support?</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
