
{% extends "layout.html" %}

{% from "components/sections.html" import appSections %}

{% block pageTitle %}
  Next steps for {{ data.company['company-name'] }}
{% endblock %}

{% block hero %}
<div class="app-hero">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "#"
            }
          ]
        }) }}

        <span class="govuk-caption-l">
          Part of <a href="#">Business and self-employed</a>
        </span>
        <h1 class="govuk-heading-l">
          Next steps for {{ data.company['company-name'] }}
        </h1>
        <p>
          You’ve registered your company - here’s a list of some things you need to do to get {{ data.company['company-name'] }} up and running.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.vat === 'yes' or data.vat === 'no' or data.vat === 'maybe' %}
    <p class="govuk-body">
      <a class="govuk-link" href="/question/vat">Edit your answers about {{ data.company['company-name'] }}</a> to make these suggestions more accurate and relevant to you.
    </p>
    {% else %}
    <p class="govuk-body">
      <a class="govuk-link" href="/question/vat">Answer 5 questions about {{ data.company['company-name'] }}</a> to make these suggestions more accurate and relevant to you.
    </p>
    {% endif %}
  </div>
</div>

<section class="app-category">
  <h2 class="govuk-heading-l">What you need to do soon</h2>
  {{ appSections(data, data.sections, true) }}
</section>

<section class="app-category">
  <h2 class="govuk-heading-l">Check if you need</h2>
  {{ appSections(data, data.check, true) }}
</section>

<section class="app-category">
  <h2 class="govuk-heading-l">Good to know</h2>
  {{ appSections(data, data.maybe) }}
</section>

<form id="next-steps"></form>
{% endblock %}
