
{% extends "layout.html" %}

{% from "components/sections.html" import appSections %}

{% block pageTitle %}
  Next steps for {{ data.company['company-name'] }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/question/premises"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Next steps for your business
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-9">
      You’ve registered {{ data.company['company-name'] }} – here’s a list of some things you need to do to get set up and running.
    </p>
  </div>
</div>

<section class="app-category">
  <h2 class="govuk-heading-l">Things you need to do next</h2>
  {{ appSections(data, data.sections, true) }}
</section>

<section class="app-category">
  <h2 class="govuk-heading-l">Rules to follow</h2>
  {{ appSections(data, data.check, true) }}
</section>

<section class="app-category">
  <h2 class="govuk-heading-l">Good to know</h2>
  {{ appSections(data, data.maybe) }}
</section>

<form id="next-steps"></form>
{% endblock %}
